body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: lightcyan;
}

#box {
    width: 1000px;
    height: 800px;
    padding: 0;
    margin: 0 auto;
    background-color: lightblue;
}

#head {
    width: 100%;
    height: 200px;
    background-image: url("../image/logo-bg.jpg");
}

.logo {
    width: 100%;
    height: 150px;
    float: left;
    clear: right;
}

.menu {
    width: 100%;
    height: 50px;
    float: left;
    background-color: #68ceff;
    background: rgba(255, 255, 255, 0.6);

}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #68ceff;
    background: rgba(255, 255, 255, 0.6);
}

.menu ul li {
    display: block;
    position: relative;
    float: left;
}

.menu ul li a {
    line-height: 50px;
    text-decoration: none;
    color: #000;
    display: block;
    padding: 0 25px;
}

.menu ul li a:hover {
    color: darkblue;
    background: lightsteelblue;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.menu ul li ul {
    position: absolute;
    display: none;

}

.menu ul li ul li {
    float: none;
    line-height: 50px;
    text-align: left;
    padding: 0;
    margin: 0;
}

.menu ul li ul li a {

    height: 50px;
}

.menu ul li ul li a:hover {
    background-color: lightsteelblue;
}

.menu ul li:hover ul {
    display: block;
}

.n2 {
    width: 300px;
    height: 200px;
    margin: 0 auto;
}

ol {
    list-style: none;
    font-size: 15px;
    line-height: 30px;
    margin: 3px;
}

ol li a {
    text-decoration: none;
}

ol li a:link {
    color: black;
}

ol li a:hover {
    color: black;
}

#body {
    width: 100%;
    height: 600px;
    float: left;
    clear: right;
    border-bottom: 1px solid #c2c2c2;
}

.left {
    float: left;
    width: 25%;
    height: 100%;
    border-right: 1px solid #c2c2c2;
}

.center {
    float: left;
    width: 74.5%;
    height: 100%;

}

#center-title {
    text-align: center;
    margin: 0 auto;
    font-size: 15px;
    font-weight: normal;
    line-height: 50px;
}